
<h1>Fill this form and we will contact you if the job you interest is available :)</h1>
<form>
    <p>Full Name</p>
    <input type ="text" name="name" id="name"/>
    <p>Address</p>
    <input type ="text" name="Address" id="Address"/>
    <p>Interest</p>
    <input type ="text" name="Interest" id="Interest"/>
    <p>Social Media</p>
    <input type ="text" name="Social" id="Social"/>
    <p>Email</p>
    <input type ="text" name="Email" id="Email"/><br>
    <input type="submit" value="Send" (click)="addCounter()">
</form>

<!--<div>
    <h3>Be the first to send your profile!</h3>
    <div *ngFor="let item of Submited, let i = index">
        <span class ="name">{{Submited.name}}</span>
        <span class ="time">{{Submited}.time | date: "HH:mm:ss"}}</span>

    </div>
</div>-->
